@import '~antd/dist/antd.css';

.wrapper {
  background: url('./images/background.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: -2px;
}

.abt {
  background: url('./images/abtbg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.error{
  display:none;
}
.navs {
  display: none
}

.reg-logo {
  display: none;
}
.logo {
  flex:0.5;
  color:white;
  font-weight: 700;;
  font-size:20px;
  padding-top:10px;
  margin-left:20px;
}

nav {
border-bottom: 0.2px solid grey;
display: flex;
justify-content: space-between;
height:auto;
position: sticky;
top:0px;
right:0px;
left: 0px;
bottom: 0px;
scroll-behavior: smooth;
background-color: #132128;
z-index: 999999999;

}
nav ul {
  display:flex;
  flex:1.5;
  justify-content: space-between;
  font-size:14px;
  padding-top:10px;
  text-transform: capitalize;
}

nav ul li {
  list-style-type: none;
  padding-top:10px;
padding-right:20px;
color:rgb(229, 226, 226);
font-size: 14px;
}

.course {
  background: #56C870;
  height: 40px;
  margin-right:20px;
  border-radius: 50px;
  cursor: pointer;
}
.course li {
  padding-left:20px;
  padding-top: 5px;
  color:grey;
}


.backdrop {
background: #173B3f;
height: 115vh;
opacity: 0.6;
position: absolute;
top:0;
bottom:0;
right: 0;
left:0;
z-index: 0;
}

.brilliance {
  width:50%;
}

.brilliance p {
  position: relative;
  color:white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  font-size:40px;
  top:200px;
  margin-left:2rem;
  text-align: left;

}
.join {
  position:relative;
  /* top:180px; */
  font-size:18px;
  text-transform: capitalize;
  margin-left: 3rem;
  color:white;
  font-weight: 400;
 
}

.joinus {
  position: relative;
  height: 50px;
  width:150px;
  background: #56C870;
  border-radius: 50px;
  color:white;
  top: 210px;
  margin-left:20rem;
  cursor: pointer;
}
.joinus p {
  text-align: center;
  padding-top:10px;
  text-transform: capitalize;
  font-weight: 500;
  font-size:16px;
}
.first-section {
  background-color:#173B3f;
  height:20%;
  display:flex;
}

.launch {
 width:50%;
 height: max-content;
}
.launch p {
  width:80%;
  color:rgb(226, 222, 222);
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top:2rem;
}
.more{
width: 50%;
}

.more  .span p {
  text-align: center;
  color:rgb(209, 206, 206);
  text-transform: capitalize;
  font-weight: bold;
}

.more .span {
  background: #106424;
  width:130px;
  height:50px;
padding-top:.7rem;
margin-left: 20rem;
margin-top:3rem;

}

.mid-section {
  display: flex;
  height:80vh;
}

.future {
 width:50%;
}
.future h3 {
  text-align: center;
  padding-top:80px;
  font-family: 'Inria Serif',
    'Garamond',
    serif;
   
}
.future h2 {
font-style: italic;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}


.left-img{
  width:50%;
}
.left-img img {
  width:25rem;
  height:auto;
  padding-top: 7rem;
  padding-left:3rem;
}

.future ul {
  list-style-type: none;
  padding-top:5rem;
  padding-left:5rem;
}

.future ul li {
  list-style-type: georgian;
      padding: 4px 0px 4px 28px;
      font-size: 16px;
      text-transform: capitalize;

}

.team {
 display:flex;
background: #173B3f;
z-index: -10;
height:70vh
}

.team-right {
  flex:1;
  margin-right:3rem;
}

.team-left {
  color:left;
  flex:1;
  z-index: 999;
}
.team-left h1{
  color:white;
  font-size: 30px;
  padding: 5rem 0px 0px 3rem;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.team-left p {
  color:white;
  margin-left:4rem;
}
.team-btn {
  height:60px;
  width:250px;
  background: #56C870;
  color:white;
  border-radius: 50px;
  margin:1rem 3rem 2rem 3rem;
}
.team-btn p {
  color:grey;
  font-weight: bolder;
  text-align: center;
  padding-top:1rem;
  margin:0px;
}

.steps-content {
  min-height: 200px;
  margin-top: 16px;
  padding-top: 40px;
  text-align: center;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}
.steps-content p {
  font-size: 16px;
}

.steps {
  margin-top: 3rem;
  margin-right:5rem;
}
.steps-action {
  margin-top: 24px;
}
.ant-steps-item-title {
  color:white !important;
}
.titles {
  color:white;
}
.scale {
  padding-top:50px;
}
.scale  h2  {
 text-align: center;
color: #132128
 
}
.scale p{
text-align: center;
color:#132128;
font-family: Arial, Helvetica, sans-serif;
}
.skil{
  height:70vh;
}
.skill {
  display:grid;
  grid-template-columns:auto auto auto auto;
  margin-left:6%;
}
.skill  div{

background-color: #fff;
margin-top:50px;
height:40px;
width:250px;
border-radius: 50px;
text-align: center;
padding-top:9px;
font-weight: 700;
text-transform: capitalize;
color: #132128
}
.skill div:hover {
  color:#56C870;
 transition: all .16s ease-in-out ;
  transform: translate(2px,2px);
  box-shadow: rgb(202, 68, 68);
}

.footer {
  display:flex;
  height:50vh;
  background-color: #173B3f;
  color:white;
  position: sticky;
  bottom: 0;
}

.policies{
flex:1;
padding-top: 50px;
display: flex;
flex-direction: column;
}
.policies p {
  padding: 0.5rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    text-align: center;
}
.courses {
flex:1;
padding-top: 50px;
justify-content: center;
}
.courses ul {
  list-style: none;
}
.courses ul li {
  padding: 0.5rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  text-align: center;
}
.social-media {
  flex:1;
}
.contact-divider {
  margin-bottom: 100px;
}
.contatc {
background: #fafafa;
}
.contact-us {

  width:50%;
  margin: auto;
}
.wrappers {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #707070
}

.staff {
  height: 100%;
  background: #f3f4f4;
}
  h3 {
    padding-top: 7rem;
    text-align: center;
    color: rgb(39, 156, 245)
  }

  .staff p {
    text-align: center;
    font-size: 14.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #787878;
    padding-top: 20px
  }

.testimony {
  display: flex;
  padding-top: 40px;
  justify-content: space-around;
}
.list-container {
  display:flex;
  gap:20px
}
  
.list {width: 100%}


.users {
  display:flex;
  justify-content: space-between;
}

.dbRes {
  text-transform: capitalize;
  text-align: center;
  color:rgb(49, 145, 224);
}

@media only screen and (min-width: 300px) and (max-width: 650px) {
  .wrappers {
    display: block;
  }

.side-nav {
  display:none
}
  .testimony {
    display: block;
    width: 100%;
    height: 100%;
  }

  .card {
    margin: auto;
    margin-top: 10px;
    width: 15rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
  .wrappers {
    display: flex;
  }

  .testimony {
    display: block;
    width: 100%;

  }

  .card {
    margin: auto;
    margin-top: 10px;
    width: 15rem;
    height: 100%;
  }
}
@media screen  and (max-width: 500px){
  .error{
    display: block;
  }
    .side-nav {
      display: none
    }
.backdrop {
  height:100vh;
}
nav {
  display: none;
}
.brilliance p{
  top:100px;
  padding-left:30%;
}

.join p{
margin-top: 150px;
}
.skill {
  display:flex;
  flex-direction: column;
 padding-bottom: 3rem;
}
.skill div {
  margin-left:9%;
  width:80%;

}
.skil {
  height:auto;
}

.footer {
  height: auto;
 display:flex;

}
.courses{

}
.joinus {
  margin-left:6rem;
  top:-60px;
}
.brilliance {
  font-style: italic;
}

.first-section{
  flex-direction: column;
  padding-bottom: 4rem;
}
.launch {
  width:100%;
padding:0.5rem

}
.launch p {
  width:100%;
}

.more .span{
  margin-left:60%;
}

.mid-section {
  flex-direction: column-reverse;
  height:auto;
}
.left-img {
  width:100%;
  padding:0px;
  margin:0;
}


.left-img img {
  width: 20rem;
  height: auto;
}
.future {
  width: 100%;
}

.team {
  flex-direction: column;
  height:auto;
  padding-bottom: 4rem;
}
.team-right{
  margin:0;
}
.steps {
  margin-left:1%;
}
.steps-action{
  margin-left: 2rem;
}
.navs {
  display:block;
  position:absolute;
  top:0px;
  z-index: 1000000;
}
.regwrapper .left{
  display:none;
}
.reg-logo{
  display:block;
}
.reg-logo h1 {

  text-align:center;
  padding-top:20px;
}
.reg-logo p {
  color:#000000CC;
  font-size:16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}
.green {
  color:#56C870;

}
}


@media  screen and (max-width:1024px) {
.backdrop {
    height: 100vh;
  }
  .side-nav{
    display:none;
  }

  nav {
    display: none;
  }

  .brilliance p {
    top: 100px;
    padding-left: 30%;
  }

  .join p {
    margin-top: 114px;
  }

  .skill {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .skill div {
    margin-left: 9%;
    width: 80%;

  }

  .skil {
    height: auto;
  }

  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .joinus {
    right:40px;
    top: -94px;
  }

  .brilliance {
    font-style: italic;
    
  }

  .first-section {
    flex-direction: column;
    padding-bottom: 4rem;
  }

  .launch {
    width: 100%;
    padding: 0.5rem
  }

  .launch p {
    width: 100%;
  }

  .more .span {
    margin-left: 60%;
  }

  .mid-section {
    height: auto;
  }

  .left-img {
    width: 100%;
    padding: 0px;
    margin: 0;
  }


  .left-img img {
    width: 20rem;
    height: auto;
  }

  .future {
    width: 100%;
  }

  .team {
    flex-direction: column;
    height: auto;
    padding-bottom: 4rem;
  }

  .team-right {
    width:80%;
    margin: 0 auto;
  }
  .team-left {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }

  .steps {
    margin-left: 1%;
  }

  .steps-action {
    margin-left: 2rem;
  }

  .navs {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 1000000;
  }

  .regwrapper .left {
    display: none;
  }

  .reg-logo {
    display: block;
  }

  .reg-logo h1 {

    text-align: center;
    padding-top: 20px;
  }

  .reg-logo p {
    color: #000000CC;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
  }

  .green {
    color: #56C870;

  }
} 

/* @media screen and (max-width:1030px){
  
        .mid-section {
        display: flex;
        height: 31vh;
        }

        .skil {
        height: 30vh;
        }
        .team {
        display: flex;
        background: #173B3f;
        z-index: -10;
        height: 40vh;
        }
} */